# Build artifacts
class
libclass.a
*.o
*.a

# Python
classy/
classy.egg-info/
__pycache__/
*.pyc
*.so
python/classy.cpp
python/build/
build/

# Environments
.venv/
venv/

# Backups
*.BAK*
*.backup*
*.bak
class
